<h1 class="jquery">ようこそBookersへ!</h1>
<p>Bookersでは、さまざまな書籍に関するあなたの意見や<br>
	印象を共有し交換することができます
</p>
<a href = "/books">start</a>
<div id="container">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
	</div>
</div>